@font-face {
  font-family: 'Vinila';
  src: url('./type/Vinila-Lt.woff2') format('woff2'),
    url('./type/Vinila-Lt.woff') format('woff');
}

@font-face {
  font-family: 'Vinila';
  font-weight: 900;
  src: url('./type/Vinila-XtBd.woff2') format('woff2'),
    url('./type/Vinila-XtBd.woff') format('woff');
}

:root {
  --u: 20px;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: 'Vinila', sans-serif;
  font-size: 4.35vw;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.title {
  font-weight: 900;
}

.container {
  padding: var(--u);
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

a {
  color: blue;
}
