:root {
  --u: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: 'Sporting Grotesque', sans-serif;
  font-size: 100%;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

body {
  background: yellow;
}

.container {
  padding: var(--u);
  font-size: 25px;
  min-height: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    font-size: 45px;
  }
}

h1,
h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  font-weight: 400;
  display: inline-block;
  transform-origin: bottom left;
  margin-top: auto;
  // white-space: nowrap;
  span {
    display: block;
    @media (min-width: 800px) {
      display: inline;
    }
  }
}

// em {
//   display: inline-block;
// }

img {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: all 1s linear;

  body.hovering & {
    opacity: 1;
  }
}
